pinecone
python-dotenv
opencv-python
numpy
rank-bm25
scenedetect[opencv]
fastapi
uvicorn[standard]
python-multipart
pydantic
huggingface_hub
sentence_transformers

yt-dlp[default]
youtube-transcript-api
opencv-python-headless